/* added body center align for flavor, as well as some padding to the background colors */

html{
  font-family: Helvetica, sans-serif;
}

h1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}

body{
  text-align: center;
}

h2{
  color: white;
}

div.brush h2{
  background-color: mediumspringgreen;
  padding: 10px;
}

div.frames h2{
  background-color: lightcoral;
  padding: 10px;
}

div.paint h2{
  background-color: skyblue;
  padding: 10px;
}

strong{
  color: blue;
}
